@import 'mixins';
@import 'color';

body {
    width: 100%;
    height: auto;
}

.background {
    padding: 120px 15px 50px 15px; 
    height: auto;
    color: white;
    background: linear-gradient(45deg, $secondary-page-banner-color 0, $secondary-page-banner-color-2 100%);
    .heading {
        @include center-content
    }
}

.space {
    background-color: $secondary-color;
    margin-top: -10%;
}

.other-container {
    width: 95%;
    height: auto;
    background-color: white;
    margin: 2%;
    .container-items {
        display: flex;
        flex-direction: column;
        margin: 10% 5% 5% 5%;
        .items {
            justify-content: center;
            align-items: center;
            padding: 10%;
            border: red solid 2px;
            
        }
        .content {
            display: block;
            margin: 0 0 10px;
            font-size: 14px;
            color: $primary-color-text;
            margin: 10px 0;
        }
    }
}

