@import 'mixins';
@import 'color';

body {
    width: 100%;
    height: auto;
}

.background {
    padding: 120px 15px 50px 15px; 
    height: auto;
    color: white;
    background: linear-gradient(45deg,rgba(168,29,132,1) 0,rgb(234,57,111) 100%);
    .heading {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.space {
    background-color: $card-background;
}

.other-container {
    width: 95%;
    height: auto;
    background-color: white;
    margin: 2%;
    .container-items {
        display: flex;
        flex-direction: column;
        border: blue solid 2px;
        .items {
            justify-content: center;
            align-items: center;
            padding: 2%;
            border: red solid 2px;
        }
        .content {
            display: block;
            margin: 0 0 10px;
            font-size: 14px;
            color: $card-description;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }
    }
}

