@import "color";

@each $key, $color in $blog-colors {
  .content-other-page:nth-child(#{$key}) h3.blog-color {
    color: $color;
  }
}

.main-container {
  margin: 10% auto -17% auto;
  border-radius: 15px 15px 0 0;
  h2 > a {
    text-decoration: none;
    color: $text-color-2;
  }
  .content-other-page {
    .blog-color {
      font-size: 0.75rem;
    }
    p {
      color: $secondary-color;
      font-size: 1rem;
    }
  }
}
