$button-color: #e91e63;
$button-color-hover: #ff0156d5;

$text-color-1: white;
$text-color-2: black;
$text-color-3: rgba(0, 0, 0, 0.404);
$a-text-color-1: #ff0156d5;

$shadow: rgba(0, 0, 0, 0.377);
$box-shadow: rgba(0, 0, 0, 0.452);

$primary-color: rgb(236, 238, 236);
$secondary-color: rgba(0, 0, 0, 0.404);

$primary-title-color: linear-gradient(to right, #ac0282, #e6004c);

$over-container-color: #0000003f;
$over-container-color-touch: #000000a2;

$blog-colors: (
  1: purple,
  2: rgb(0, 255, 255),
  3: rgb(214, 0, 0),
  4: orange,
  5: rgb(255, 5, 47),
  6: green,
  7: purple,
);
