/* Made to manage colors */

$primary-color: rgb(236, 238, 236);
$secondary-color: rgba(0, 0, 0, 0.404);
$over-container-color: #0000003f;
$box-shadow: rgba(0, 0, 0, 0.452);

$primary-color-text: black;
$secondary-color-text: white;

$color-option-1: red;
$color-option-2: blue;
$color-option-3: green;
$color-option-4: purple;
$color-option-5: rgb(29, 247, 255);

$primary-color-button: red;

$secondary-page-banner-color: rgba(168,29,132,1);
$secondary-page-banner-color-2: rgb(234,57,111);
